/* GLOBAL */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
    font-family:'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}
div {
    border: 1px solid Chocolate;
}

.content {
	width:60%;
	height:70px;
	margin:0 auto;
	padding: 0px 15px;
}

/* NAVIGATION SECTION */

.top-navigation {
	background-color: #fff;
	height: 4.375rem;
	width: 100%;
	position: fixed;
	border-bottom: 1px solid #ddd;

}

.logo {
	height:4.375rem;

}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.7rem;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li {
	display: inline-block;
	margin-left:1.563rem;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

/* INTRODUCTION SECTION */

.introduction {
	background-image: url('../images/bg1.jpg');
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;

}

.introduction .content {
	text-align:center;
	color:white;
}

.introduction h1 {
	margin-top:17.5rem;
	font-size:3.125rem;
	font-weight:200;
	margin-bottom:0;
}

.introduction h3 {
	margin-top:1.25rem;
	font-size:1.563rem;
	font-weight:100;
	margin-bottom:0;
}

button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;

}

.introduction button {
	margin-top:1.25rem;
	width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
	color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;


}

.introduction button:hover {
	background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;

}

/* ICONS SECTION */

.icons {
	background-color:white;
	height:45rem;
}

.icons .content {
	color:#333333;
	margin:0 auto;
	text-align:center;

}

.icons h2 {
	font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

.icons h3 {
	font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;

}

.icons .content li {
	display:inline-block;
}

.cases .devices {
    width: 33.3333333%;
    display: inline-block;
    /* styles to assist with debugging */
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;
}

/* FOOTER */

.social{
	background-color: white;
	height:15rem;
}

.social .content{
	margin:0 auto;
	text-align:center;
	border-top: 1px solid #dfdfdf;
}

.social ul{
	padding-left:0;
}

.social ul li {
	display: inline-block;
}

.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}


